# Database Settings
DB_USER=user
DB_PASSWORD=pass
DB_NAME=dbname
DB_PORT=5433
DB_URL=postgres://user:pass@localhost:5432/dbname?sslmode=disable

# RabbitMQ Settings
MQ_USER=guest
MQ_PASS=guest
MQ_URL=amqp://guest:guest@localhost:5672/

# Redis Settings
REDIS_URL=redis://localhost:6379/0

# App Settings
APP_ADDR=0.0.0.0:8081
# Сюда добавьте ваш токен для локальной разработки
BOT_TOKEN=your_telegram_bot_token_here

# Email Settings
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=587
EMAIL_FROM=test@notifier.local
EMAIL_USER=your_user
EMAIL_PASSWORD=your_password